<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head data-id="__react-email-head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div id="__react-email-preview" style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">
    Confirm your email address<div>
    </div>
</div>

<body data-id="__react-email-body"
    style="background-color:#ffffff;margin:0 auto;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif">
    <table align="center" width="100%" data-id="__react-email-container" role="presentation" cellSpacing="0"
        cellPadding="0" border="0" style="max-width:600px;margin:0 auto">
        <tbody>
            <tr style="width:100%">
                <td>
                    <table align="center" width="100%" data-id="react-email-section" style="margin-top:32px" border="0"
                        cellPadding="0" cellSpacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td><img data-id="react-email-img" alt="Payfona"
                                        src="https://payfona.com/_ipx/w_96,q_75/%2Fimages%2Fpayfona.png?url=%2Fimages%2Fpayfona.png&amp;w=96&amp;q=75"
                                        style="display:block;outline:none;border:none;text-decoration:none" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <h1 data-id="react-email-heading"
                        style="color:#1d1c1d;font-size:36px;font-weight:700;margin:30px 0;padding:0;line-height:42px">
                        Confirm your email address</h1>
                    <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:16px 0">Welcome <%=
                        username %></p>
                    <p data-id="react-email-text"
                        style="font-size:20px;line-height:28px;margin:16px 0;margin-bottom:30px">Your confirmation code
                        is below - please enter code in the input bar on the page</p>
                    <table align="center" width="100%" data-id="react-email-section"
                        style="background:rgb(245, 244, 245);border-radius:4px;margin-right:50px;margin-bottom:30px;padding:43px 23px"
                        border="0" cellPadding="0" cellSpacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td>
                                    <p data-id="react-email-text"
                                        style="font-size:30px;line-height:24px;margin:16px 0;text-align:center;vertical-align:middle">
                                        <%= token %></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:16px 0;color:#000">If
                        you did not request this please ignore</p>
                    <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0"
                        cellSpacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center" width="100%" data-id="react-email-row"
                                        style="margin-bottom:32px;padding-left:8px;padding-right:8px;width:100%"
                                        role="presentation" cellSpacing="0" cellPadding="0" border="0">
                                        <tbody style="width:100%">
                                            <tr style="width:100%">
                                                <td data-id="__react-email-column" style="width:66%"><img
                                                        data-id="react-email-img" alt="Payfona"
                                                        src="https://payfona.com/_ipx/w_96,q_75/%2Fimages%2Fpayfona.png?url=%2Fimages%2Fpayfona.png&amp;w=96&amp;q=75"
                                                        style="display:block;outline:none;border:none;text-decoration:none" />
                                                </td>
                                                <td data-id="__react-email-column">Payfona</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0"
                        cellSpacing="0" role="presentation">
                        <tbody>
                            <tr>
                                <td><a href="https://payfona.com/blog" rel="noopener noreferrer"
                                        data-id="react-email-link" target="_blank"
                                        style="color:#b7b7b7;text-decoration:underline">Our blog</a>   |   <a
                                        href="https://payfona.com/legal" rel="noopener noreferrer"
                                        data-id="react-email-link" target="_blank"
                                        style="color:#b7b7b7;text-decoration:underline">Policies</a>   |   <a
                                        href="https://payfona.com/help" rel="noopener noreferrer"
                                        data-id="react-email-link" target="_blank"
                                        style="color:#b7b7b7;text-decoration:underline">Help center</a>   |   <p
                                        data-id="react-email-text"
                                        style="font-size:12px;line-height:15px;margin:16px 0;color:#b7b7b7;text-align:left;margin-bottom:50px">
                                        ©2022 Payfona a payment solution platform. <br />51 Rosey Street Johannesburg
                                        Gauteng, SA <br /><br />All rights reserved.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>